* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.fullwidth-container {
    line-height: 50px;
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
}
.contaier-nav-uno {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.sinistra {
    float: left;
}
.sinistra a {
    text-decoration: none;
    color: black;
    margin: 25px;
}
.sinistra i {
    color: #7c98b6;
}
header {
    width: 100%;
    height: 75px;
    max-width: 1200px;
    position: fixed;
    top: 0;
    bottom: 0;
}
.destra {
    float: right;
}
.destra i {
    margin-right: 60px;
    color: #00a4bd;
}
.destra button {
    padding: 10px 20px;
    border: 1px solid #ff7a59;
    background-color: white;
    color: #ff7a59;
    border-radius: 5px;
}
.destra button:last-child{
    background-color: #ff7a59;
    color: white;
}
.destra button:hover {
    cursor: pointer;
}
.fullwidth-container-due {
    background-color: #ffffff;
    position: relative;
    top: 75px;
}
.contaier-nav-due {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}
.left {
    float: left;
}
.left img {
    padding-top: 45px;
    padding-left: 30px;
}
.right {
    float: right;
}
.right li {
    list-style: none;
    float: left;
    padding-top: 20px;
    margin: 20px;
    color: #33475b;
    font-weight: 700;
}
.right i {
    color: #7c98b6;
}
.fullwidth-container-tre {
    background-color: #425b76;
    height: 90px;
    position: relative;
    top: 75px;
}
.contaier-nav-tre {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 30px;
}
.promo-left {
    float: left;
}
.promo-left p {
    width: 90%;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.promo-right {
    float: right;
}
.promo-right button {
    position: relative;
    bottom: 75px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
    color: #334760;
    font-weight: 700;
}
.homepage {
    height: 700px;
    background-color: #fff5ef;
    border-bottom: 3px solid #33475b;
    position: relative;
    top: 20px;
}
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.text {
    width: 40%;
    margin-top: 80px;
    float: left;
}
h1 {
    font-size: 55px;
    font-weight: 900;
    color: #33475b;
    line-height: 1.2;
}
.text p {
    color: #4d5d6e;
    line-height: 1.7;
    font-weight: 300;
    margin: 20px 0;
}
.text button {
    font-size: 16px;
    padding: 25px 45px;
    background-color: #ff7a59;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    display: block;
}
.text button:hover {
    cursor: pointer;
}
.text span {
    font-size: 12px;
    color: #33475b;
    position: relative;
    top: 20px;
}
.middle {
    height: 1500px;
    background-color: #f5f8fa;

}
.powerful {
    text-align: center;
    position: relative;
    top: 125px;
}
.powerful img {
    width: 260px;
}
.powerful h2 {
    line-height: 1.3125;
    color: #33475b;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
}
.powerful p {
    font-size: 16px;
}
.horizontal-card {
    width: 80%;
    background-color: white;
    height: 300px;
    position: relative;
    top: 200px;
    left: 100px;
    border-radius: 3px;
}
.horizontal-card img {
    width: 150px;
    height: 150px;
}
.left-card{
    width: 30%;
    margin-top: 30px;
    float: left;
    text-align: center;
    padding: 0 10%;
}
.left-card button {
    background-color: #ff8f73;
    position: relative;
    top: 30px;
    left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.right-card {
    width: 70%;
    height: 100%;
    float: right;
    text-align: left;
}
.right-card h4  {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3636;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #33475b;
}
.right-card p {
    font-size: 14px;
    color: #33475b;
    margin-bottom: 30px;
}
.right-card strong {
    color: #33475b;
    font-size: 16px;
}
.right-card ul {
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
}
.right-card li {
    text-decoration: none;
    display: inline-block;
}
.right-card i {
    color: #ff7a59;
}
.cards {
    width: 33.3333%;
    height: 600px;
    float: left;
    text-align: center;
    padding: 10px;
    background-color: white;
}
