* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.fullwidth-container {
    line-height: 50px;
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;

}
.contaier-nav-uno {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.sinistra {
    float: left;
}
.sinistra a {
    text-decoration: none;
    color: black;
    margin: 25px;
}
.sinistra i {
    color: #7c98b6;
}
header {
    width: 100%;
    height: 75px;
    max-width: 1200px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99999;
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
}
.destra {
    float: right;
}
.destra i {
    margin-right: 60px;
    color: #00a4bd;
}
.destra button {
    padding: 10px 20px;
    border: 1px solid #ff7a59;
    background-color: white;
    color: #ff7a59;
    border-radius: 5px;
}
.destra button:last-child{
    background-color: #ff7a59;
    color: white;
}
.destra button:hover {
    cursor: pointer;
}
.fullwidth-container-due {
    background-color: #ffffff;
    position: relative;
    top: 75px;
}
.contaier-nav-due {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}
.left {
    float: left;
}
.left img {
    padding-top: 45px;
    padding-left: 30px;
}
.right {
    float: right;
}
.right li {
    list-style: none;
    float: left;
    padding-top: 20px;
    margin: 20px;
    color: #33475b;
    font-weight: 700;
}
.right i {
    color: #7c98b6;
}
.fullwidth-container-tre {
    background-color: #425b76;
    height: 90px;
    position: relative;
    top: 75px;
}
.contaier-nav-tre {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 30px;
}
.promo-left {
    float: left;
}
.promo-left p {
    width: 90%;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.promo-right {
    float: right;
}
.promo-right button {
    position: relative;
    bottom: 75px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
    color: #334760;
    font-weight: 700;
    border: 1px solid #334760;
}
.promo-right button:hover {
    cursor: pointer;
}
.homepage {
    height: 700px;
    background-color: #fff5ef;
    border-bottom: 3px solid #33475b;
    position: relative;
    top: 20px;
}
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.text {
    width: 40%;
    margin-top: 80px;
    float: left;
}
h1 {
    font-size: 55px;
    font-weight: 900;
    color: #33475b;
    line-height: 1.2;
}
.text p {
    color: #4d5d6e;
    line-height: 1.7;
    font-weight: 300;
    margin: 20px 0;
}
.text button {
    font-size: 16px;
    padding: 25px 45px;
    background-color: #ff7a59;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    display: block;
    border: 1px solid #ff7a59;
}
.text button:hover {
    cursor: pointer;
}
.text span {
    font-size: 12px;
    color: #33475b;
    position: relative;
    top: 20px;
}
.middle {
    height: 1500px;
    background-color: #f5f8fa;
}
.powerful {
    text-align: center;
    position: relative;
    top: 125px;
}
.powerful img {
    width: 260px;
}
.powerful h2 {
    line-height: 1.3125;
    color: #33475b;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
}
.powerful p {
    font-size: 16px;
}
.horizontal-card {
    width: 80%;
    background-color: white;
    height: 300px;
    position: relative;
    top: 200px;
    left: 100px;
    border-radius: 3px;
}
.horizontal-card img {
    width: 150px;
    height: 150px;
}
.left-card{
    width: 30%;
    margin-top: 30px;
    float: left;
    text-align: center;
    padding: 0 10%;
}
.left-card button {
    background-color: #ff8f73;
    position: relative;
    top: 30px;
    left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    border: 1px solid #ff7a59;
    font-weight: 700;
}
.left-card button:hover {
    cursor: pointer;
}
.right-card {
    width: 70%;
    height: 100%;
    float: right;
    text-align: left;
}
.right-card h4  {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3636;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #33475b;
}
.right-card p {
    font-size: 14px;
    color: #33475b;
    margin-bottom: 30px;
}
.right-card strong {
    color: #33475b;
    font-size: 16px;
}
.right-card ul {
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
}
.right-card li {
    text-decoration: none;
    display: inline-block;
}
.right-card i {
    color: #ff7a59;
}
.cards {
    width: 33.3333%;
    float: left;
    text-align: center;
    padding: 10px;
    background-color: #f5f8fa;
}
.content-card {
    margin-top: 10px;
    background-color: white;
}
.cards img {
    width: 100%;
    height: 150px;
    margin-top: 40px;
}
.content-card h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3636;
    color: #33475b;
    margin-bottom: 10px;
}
.content-card p {
    font-size: 14px;
    text-align: left;
    padding-left: 20px;
    color: #33475b;
    margin-bottom: 20px;
}
.content-card hr {
    width: 255px;
    margin: 0 auto;
    color: #e0e6ed;
    margin-bottom: 20px;
}
.content-card strong {
    color: #33475b;
    font-size: 15px;
    font-weight: 600;
}
.content-card ul {
    list-style-type: none;
    margin-top: 20px;
}
.content-card li {
    text-decoration: none;
    text-align: left;
    padding-left: 20px;
    color: #334760;
}
.content-card i {
    color: #ff7a59;
}
.content-card button {
    margin-top: 40px;
    background-color: #ff7a59;
    color: white;
    border: 1px solid #ff7a59;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 700;
}
.content-card button:hover {
    cursor: pointer;
}
.container-fullwidth-azzurro {
    height: 900px;
    background-color: #00adb5;
}
.text-azzurro {
    max-width: 1000px;
    text-align: center;
}
.text-azzurro h2 {
    color: white;
    padding-top: 100px;
    margin-left: 150px;
    font-weight: 700;
    line-height: 1.3125;
    font-size: 36px;
}
.text-azzurro p {
    color: white;
    margin-left: 150px;
    padding-top: 60px;
    font-size: 16px;
    margin-bottom: 70px;
}
.square {
    width: 25%;
    height: 200px;
    float: left;
    padding: 20px;
    text-align: center;
}
.one, .two, .three, .five, .six, .seven {
    border-right: 1px solid white;
}
.one, .two, .three, .four  {
    border-bottom: 1px solid white;
}
.square h3 {
    font-size: 40px;
    color: white;
    font-weight: 700;
    padding-top: 10px;
}
.square p {
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.container-white-two {
    height: 900px;
    background-color: white;
}
.banner-uno {
    width: 90%;
    margin: 0 auto;
    padding-top: 130px;
}
.text-sinistro {
    width: 30%;
    float: left;
}
.text-sinistro h2 {
    font-size: 40px;
    font-weight: 900;
    color: #33475b;
    padding: 20px 0;
}
.text-sinistro {
    color: #425b76;
    font-size: 20px;
    line-height: 1.5;
}
.immagini-destro img {
    width: 110px;
    vertical-align: middle;
}
.immagini-destro {
    width: 70%;
    float: right;
    padding-left: 20px;
}
.photo {
    width: 25%;
    height: 80px;
    line-height: 110px;
    float: left;
}
.banner-due {
    margin-top: 150px;
}
.start-growing {
    width: 60%;
    float: left;
}
.start-growing h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3125;
    color: #33475b;
}
.start-growing p {
    color: #425b76;
    line-height: 1.7;
    padding: 30px 0;
}
.start-growing button {
    font-size: 16px;
    padding: 25px 45px;
    background-color: #ff7a59;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    display: block;
    border: 1px solid #ff7a59;
    margin-bottom: 20px;
}
.start-growing button:hover {
    cursor: pointer;
}
.start-growing small {
    padding-top: 20px;
    color:#516f90;
    font-size: 12px;
    line-height: 1.5;
}
.immagine-face {
    width: 40%;
    float: right;
}
.immagine-face img {
    height: 350px;
    margin-left: 100px;
}
footer {
    height: 600px;
    background-color: #33475b;
}
.card {
    width: 25%;
    float: left;
    margin-top: 70px;
}
.card p {
    color: white;
    font-weight: 700;
}
.card li {
    color: white;
    font-size: 13px;
    padding: 10px 0;
    list-style-type: none;
}
.card a {
    text-decoration: none;
    color: #cbd6c8;
}
.contenitore {
    width: 25%;
    float: right;
}
.bottone button {
    border-radius: 5px;
    padding: 8px 10px;
    background-color: white;
    color: #334760;
    font-weight: 700;
    border: 1px solid #334760;
    margin-top: 15px;
}
.bottone button {
    cursor: pointer;
}
.social  {
    width: 16%;
    float: left;
    padding-top: 30px;
}
.social i {
    color: #cbd6e2;
    font-weight: 500;
    font-size: 20px;
}
.lingue {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 30px;
    border-bottom:
}
.lista ul {
    display: inline-block;
}
.lista li {
    float: left;
    padding: 10px;
    list-style-type: none;
}
.lista a {
    text-decoration: none;
    color: #cbd6cc;
}
.lista a:hover {
    color: azure;
}
.fine-header {
    padding-top: 30px;
    border-top: 1px solid #7c98b6;
}
.fine-left {
    width: 50%;
    float: left;
}
.fine-right {
    width: 50%;
    float: right;
    text-align: right;
}
.fine-left p {
    font-size: 11px;
    font-weight: 300;
    color: #cbd6e2;
    padding-top: 10px;
}
.fine-right a {
    text-decoration: none;
    color: #cbd6cc;
    padding: 10px;
}
.fine-right a:hover {
    color: azure;
}
